#navbar {
  background: #323232;
  ol {
    margin-top: 5vh;
    li{
      list-style-type: none;
      a {
        color: #C0C0C0;
        &:hover{
          font-style: bold;
        }
      }
    }
  }

  img{
    width:100%;
    border-radius: 10px;
    margin:30px;
  }

  ul {
    li {
    list-style-type: none;
    display: inline-block;
    justify-content: space-between;
      p {
        color: #C0C0C0;
        font-size:24px;
        &:hover {
          color:#23C3B5;
        }
      }
    }
  }
}
