<div class="subtitle">
  <h2 class="mb-4 mt-3">About me</h2>
</div>

<div class="content">
  <h5>Satoru Nishizawa - Full-stack web developer</h5>
  <p>Hi, I'm Satoru, a dedicated and enthusiastic web developer currently living in Tokyo. Plain and simple, I love coding and learning new languages, whether it's human or computer! <br><br>Alumni of Tokyo Le Wagon's bootcamp, I have experience with designing and developing websites using Ruby on Rails, Python, Node.js, React.js, HTML, and CSS. I'm eager to become a top tier developer in order to help others build a nicer, greener and sustainable world.
  <br><br>In a former life, I was a business development associate at a major consulting firm. This experience taught me how to be a team player as well as independent. My long hours at the office turned me into a coffee connoisseur too!
  <br><br>I absolutely thrive in an international environment and can speak English, Russian, Uzbek, and French. Additionally, I can sing in Chinese after a couple of drinks. I'm inspired by cultural differences and have lived in Russia and Uzbekistan. Adventurous I'm ready to move wherever you need me to be. </p>
</div>
