<div class="subtitle">
  <h2 class="mb-4 mt-3">Education</h2>
</div>
<div class="box">
  <h3>Le Wagon Coding Bootcamp</h3>
  <div class="content row">
    <div class="content-description col-xs-12 col-sm-11">
      <p>Tokyo, <span class="period">September, 2019 - November, 2019</span></p>
      <p>9-weeks of intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails.</p>
      <p><strong>Main projects:</strong>Food Decoder, Cinehome, Champroo-recipes</p>
    </div>
  </div>
</div>
<div class="box">
  <div class="content row">
    <div class="content-description col-xs-12 col-sm-11">
      <h3>Moscow State Institute of International Relations</h3>
      <p>Moscow, <span class="period">September, 2014 - June, 2016</span></p>
      <p>M.A. in Political Science</p>
    </div>
  </div>
</div>
<div class="box">
  <div class="content row">
    <div class="content-description col-xs-12 col-sm-11">
      <h3>Hosei University</h3>
      <p>Tokyo, <span class="period">April, 2010 - March, 2014</span></p>
      <p>B.A. in Law <br>One-year student exchange program at Tashkent State Institute of Oriental Studies, Uzbekistan.</p>
    </div>
  </div>
</div>
