<div class="subtitle">
  <h2>Education</h2>
</div>
<div class="box">
  <h3>Le Wagon Coding Bootcamp</h3>
  <div class="content row">
    <div class="content-description col-xs-12 col-sm-6">
      <p>Tokyo</p>
      <p>9-weeks of intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails.</p>
      <p><strong>Main projects:</strong>Food Decoder, Cinehome, Champroo-recipes</p>
    </div>
    <div class="content-date col-xs-12 col-sm-6"><div class="text"><p>September, 2019 - November, 2019</p></div></div>
  </div>
</div>
<div class="box">
  <div class="content row">
    <div class="content-description col-xs-12 col-sm-6">
      <h3>Moscow State Institute of International Relations</h3>
      <p>Moscow</p>
      <p>M.A. in Political Science</p>
    </div>
    <div class="content-date col-xs-12 col-sm-6"><div class="text"><p>Septtember, 2014 - June, 2016</p></div>
    </div>
  </div>
</div>
<div class="box">
  <div class="content row">
    <div class="content-description col-xs-12 col-sm-6">
      <h3>Hosei University</h3>
      <p>Tokyo</p>
      <p>B.A. in Law <br>Attended to 1 year of student exchange program to Tashkent State Institute of Oriental Studies, Uzbekistan.</p>
    </div>
    <div class="content-date col-xs-12 col-sm-6">
      <div class="text"><p>April, 2010 - March, 2014</p></div>
    </div>
  </div>
</div>
