<!--I'm not sure if I put this-->
<div class="box">
  <div class="content-title">
    <a href="https://www.food-decoder.com"><h3>Food decoder</h3></a>
  </div>
  <div class="content row">
    <div class="col-xs-12 col-sm-6">
      <div class="description">
        <p><strong>Description:</strong> An application to issue an allergen alert for those who have food allergy, intolerance, and restriction, with reading barcodes and labels of food products.</p>
      </div>
      <div class="role">
        <p><strong>Role:</strong> The original proposer, the presenter at the demo, front-end/back-end developer.</p>
      </div>
      <div class="features">
        <p><strong>Features:</strong> Ruby on rails, JavaScript, Barcode scanning, Text-recognition, Auto-translation.</p>
        <p><a href="https://www.food-decoder.com">--> Check now</a></p>
      </div>
    </div>
  </div>
</div>
