<div class="subtitle">
  <h2>Introduction</h2>
</div>

<div class="content">
  <p>Hi, my name is Satoru. A full-stack web developer based in Tokyo, Japan. I have experience building web applications in Ruby on Rails,
among others. I am ready to fully commit myself to improvement of the web-service.</p>
</div>
