<div class="sticky-top">
  <div class="col-10">
  <%= image_tag 'profilepic.png' %>
  </div>
  <ol class="mr-3">
    <li><a href="#introduction" class="navlink"><p>Introduction</p></a></li>
    <li><a href="#skills" class="navlink"><p>Technical Skills</p></a></li>
    <li><a href="#projects" class="navlink"><p>Projects</p></a></li>
    <li><a href="#education" class="navlink"><p>Education</p></a></li>
    <li><a href="#personal" class="navlink"><p>Personal</p></a></li>
  </ol>
  <ul class="mr-3">
    <li>
      <a href="https://www.linkedin.com/in/satoru-nishizawa/"><p class="ml-1"><i class="fab fa-linkedin"></i></p></a>
    </li>
    <li>
      <a href="https://www.facebook.com/nishizawa.satoru.9"><p class="ml-1"><i class="fab fa-facebook-square"> </i></p></a>
    </li>
    <li>
      <a href="https://github.com/Sattor-Bek"><p class="ml-1"><i class="fab fa-github-square"></i> </p></a>
    </li>
    <li>
      <a href="https://vk.com/id271683674"><p class="ml-1"><i class="fab fa-vk"></i> </p></a>
    </li>
    <li>
      <a href="mailto:satoru.nh@gmail.com"><p class="ml-1"> <i class="fas fa-envelope-square"></i> </p></a>
    </li>
  </ul>
</div>
