<%# <div class="subtitle">
  <h2 class="mb-4 mt-3">Personal</h2>
</div>
<div class="cards">
  <div class="row ml-2">
    <div class="card">
      <div>
        <p>Book</p>
        <p>An introduction to Uzbek Grammar</p>
        <a href="https://www.amazon.co.jp/%E3%82%A6%E3%82%BA%E3%83%99%E3%82%AF%E8%AA%9E-%E7%B0%A1%E6%98%93%E6%96%87%E6%B3%95%E4%BE%BF%E8%A6%A7-%E8%A5%BF%E6%BE%A4%E6%82%9F-ebook/dp/B01N01KMQI/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E3%82%A6%E3%82%BA%E3%83%99%E3%82%AF%E8%AA%9E+%E4%BE%BF%E8%A6%A7&qid=1571795372&s=books&sr=1-1"><img id="bookimg" src="https://images-fe.ssl-images-amazon.com/images/I/510KHdlSiaL.jpg" alt="book image"></a>
      </div>
    </div>

    <div class="card">
      <p>Speech</p>
      <p>Speech in Uzbek</p>
      <iframe src="https://www.youtube.com/embed/c4ZmPJEVEQA?start=43" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="m-1"></iframe>
    </div>
  </div>
</div> %>
