<div class="subtitle">
  <h2 class="mb-4 mt-3">Projects</h2>
</div>

<div class="box">
    <div class="content-title">
    <a href="https://www.food-decoder.com"><h3>Yod-lang</h3></a>
  </div>
  <div class="content row">
    <div class="col-xs-12 col-sm-6">
      <div class="description">
        <p><strong>Description:</strong> An application to help language learners by displaying subtitles of Youtube Videos in two languages. Users can also download the subtitles in CSV format.</p>
      </div>
      <div class="role">
        <p><strong>Role:</strong> Solo project.</p>
      </div>
      <div class="features">
        <p><strong>Features:</strong> Ruby on rails, JavaScript, CSV conversion, Google API.</p>
        <p><a href="https://www.yod-lang.com">--> Check</a></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="col-6" >
        <div id="yod-lang" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/yod-lang002.png" class="rounded" alt="yod-lang002" width="100%">
            </div>
            <div class="carousel-item">
              <img src="/assets/yod-lang003.png" class="rounded" alt="yod-lang003" width="100%">
            </div>
            <div class="carousel-item">
              <img src="/assets/yod-lang004.png" class="rounded" alt="yod-lang004" width="100%">
            </div>
            <div class="carousel-item">
              <img src="/assets/yod-lang005.png" class="rounded" alt="yod-lang005" width="100%">
            </div>
            <div class="carousel-item">
              <img src="/assets/yod-lang006.png" class="rounded" alt="yod-lang006" width="100%">
            </div>
          </div>
            <a class="carousel-control-prev" href="#yod-lang" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#yod-lang" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
    </div>
  </div>
  <div class="content-title">
    <a href="https://www.food-decoder.com"><h3>Food decoder</h3></a>
  </div>
  <div class="content row">
    <div class="col-xs-12 col-sm-6">
      <div class="description">
        <p><strong>Description:</strong> An application to issue an allergen alert for those who have food allergy, intolerance, and restriction, with reading barcodes and labels of food products.</p>
      </div>
      <div class="role">
        <p><strong>Role:</strong> The original proposer, the presenter at the demo, front-end/back-end developer.</p>
      </div>
      <div class="features">
        <p><strong>Features:</strong> Ruby on rails, JavaScript, Barcode scanning, Text-recognition, Auto-translation.</p>
        <p><a href="https://www.food-decoder.com">--> Check</a></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="col-6" >
        <div id="food_decoder" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/fooddecoder1.jpg" class="rounded" alt="fooddecoder1" width="100%">
            </div>
            <div class="carousel-item">
              <img src="/assets/fooddecoder2.jpg" class="rounded" alt="fooddecoder1" width="100%">
            </div>
            <div class="carousel-item">
              <img src="/assets/fooddecoder3.jpg" class="rounded" alt="fooddecoder1" width="100%">
            </div>
            <div class="carousel-item">
              <img src="/assets/fooddecoder4.jpg" class="rounded" alt="fooddecoder1" width="100%">
            </div>
          </div>
            <a class="carousel-control-prev" href="#food_decoder" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#food_decoder" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-title">
      <a href="https://cinehome.herokuapp.com/"><h3>Cinehome</h3></a>
    </div>
    <div class="content row">
      <div class="col-xs-12 col-sm-6">
        <div class="description">
          <p><strong>Description:</strong> A plat-form to host movie nights and enjoy your favorite movie with your friends.</p>
        </div>
        <div class="role">
          <p><strong>Role:</strong> Front-end/Back-end developer</p>
        </div>
        <div class="features">
          <p><strong>Features:</strong> Ruby on Rails, Javascript, Geocoding, Date picker.</p>
          <p><a href="https://cinehome.herokuapp.com/">--> Check</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="col-12">
          <div id="cinehome" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/assets/cinehome1.png" class="rounded" alt="cinehome1" width="100%">
              </div>
              <div class="carousel-item">
                <img src="/assets/cinehome2.png" class="rounded" alt="cinehome2" width="100%">
              </div>
              <div class="carousel-item">
                <img src="/assets/cinehome3.png" class="rounded" alt="cinehome3" width="100%">
              </div>
              <div class="carousel-item">
                <img src="/assets/cinehome4.png" class="rounded" alt="cinehome4" width="100%">
              </div>
            </div>
              <a class="carousel-control-prev" href="#cinehome" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#cinehome" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content-title">
        <a href="https://champroo-recipes.herokuapp.com/recipes"><h3>Champroo-recipes</h3></a>
      </div>
    <div class="content row">
      <div class="col-xs-12 col-sm-6">
        <div class="description">
          <p><strong>Description:</strong> A solo project for an on-line recipe book.</p>
        </div>
        <div class="role">
        </div>
        <div class="features">
          <p><strong>Features:</strong> Ruby on Rails, Javascript</p>
          <p><a href="https://champroo-recipes.herokuapp.com/recipes">--> Check</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="col-12">
          <div id="champroo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/assets/champroo1.png" class="rounded" alt="champroo1" width="100%">
              </div>
              <div class="carousel-item">
                <img src="/assets/champroo2.png" class="rounded" alt="champroo2" width="100%">
              </div>
            </div>
              <a class="carousel-control-prev" href="#champroo" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#champroo" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
