// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main {
  margin-left: 22vw;
  position:absolute;
  top:0;
}

hr {
  background-color:#23C3B5;
  border-style: solid;
}
