// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main {
}

hr {
  background-color:#23C3B5;
  border-style: solid;
}

[data-scroll] {
  transition: opacity 1s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}


h3 {
  color: #323232;
}

a {
 color: #323232;
}
